body{
    margin: 0;
    font-family: "Open Sans", comic-sans;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: table;
}

#activity {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#result{
    text-transform: uppercase;
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: bold;
}

.hits{
    font-size: 5.75em;
    font-weight: bolder;
}